.root {
    -fx-background-color: black;
}

.label {
    -fx-text-fill: white;
}

.button {
    -fx-text-fill: white;
    -fx-background-color: #333333;
}

.slider .axis {
    -fx-tick-label-fill: white;
}